* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #581818;
    font-family: Arial, Helvetica, sans-serif;
}

.coresselec {
    margin: 10px;
}

.cores {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 3px;
    cursor: pointer;
}
.verm {
    background-color: #581818;
}
.verd {
    background-color: #3fb13f;
}
.azul {
    background-color: #419aff;
}
.rosa {
    background-color: #d87093;
}
.blac {
    background-color: #242424;
}

main {
    display: block;
    background-color: rgb(206, 206, 206);
    width: 500px;
    height: 400px;
    margin: auto;
    margin-top: 20px;
    border-radius: 35px;
}
.main_resultado {
    display: none;
    position: absolute;
    top: 238px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(206, 206, 206);
}

.conteudo_principal {
    margin-top: 50px;
}
img {
    max-width: 100px;
}
.imgs {
    display: flex;
    justify-content: space-evenly;
}

.selec {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

h2 {
    text-align: center;
    padding: 15px 0px;
}

.botao {
    display: block;
    margin: auto;
    margin-top: 70px;
    padding: 5px;
    width: 100px;
    font-weight: bolder;
    background-color: gray;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    transition: 0.1s;
}
.botao:hover {
    background-color: #686868;
}
.botaovolta {
    width: 150px;
    margin-top: 30px;
}

.escolhas {
    display: flex;
    justify-content: space-evenly;
}
.jogadores {
    display: flex;
    justify-content: space-evenly;
}

.res {
    text-align: center;
    margin-top: 70px;
}
.sit {
    text-align: center;
    margin-top: 15px;
}

.jogadas {
    margin-top: 50px;
}

.pontos {
    margin-top: 15px;
}

.divjog, .divcomp {
    text-align: center;
    color: white;
}

.pontosp {
    display: inline;
}

.botaoreset {
    margin-top: 15px;
    background-color: rgb(192, 0, 0);
    border: none;
}
.botaoreset:hover {
    background-color: rgb(167, 3, 3);
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: black;
    color: white;
    width: 100%;
    padding: 2px;
}
a {
    text-decoration: none;
    color: #4b7bff;
}
a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    main {
        width: 400px;
        height: 400px;
    }
}